.u-txt_s {
  font-size: 1.2rem;
  line-height: 1.8rem;
  @include pc {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

.u-txt_s2 {
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.u-txt_s3 {
  font-size: 1.1rem;
}
.u-txt_xs {
  font-size: 1rem;
  line-height: 1;
}
.u-txt_m {
  font-size: 1.4rem;
  line-height: 2.8rem;
  @include pc {
    font-size: 1.7rem;
  }
}
.u-txt_m2 {
  font-size: 1.6rem;
  line-height: 3rem;
  @include pc {
    line-height: 3.4rem;
  }
}
.u-txt_m3 {
  font-size: 1.2rem;
  line-height: 2rem;
  @include pc {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
.u-txt_m4 {
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.u-txt_m5 {
  font-size: 1.8rem;
  line-height: 3.4rem;
  @include pc {
    font-size: 2rem;
    line-height: 4.4rem;
  }
}
.u-txt_m6 {
  font-size: 1.8rem;
  line-height: 2.8rem;
  @include pc {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}
.u-txt_m7 {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.u-txt_m8 {
  font-size: 1.6rem;
  line-height: 1;
  @include pc {
    font-size: 2rem;
  }
}
.u-txt_l {
  font-size: 2.2rem;
  line-height: 1.2;
  @include pc {
    font-size: 2.8rem;
  }
}
.u-txt_l2 {
  font-size: 2rem;
  line-height: 1;
  @include pc {
    font-size: 2.4rem;
  }
}
.u-txt_l2 {
  font-size: 2.8rem;
  line-height: 1;
  @include pc {
    font-size: 3.6rem;
  }
}
.u-txt_xxl {
  font-size: 5rem;
  line-height: 1.2;
  @include pc {
    font-size: 8rem;
  }
}

.u-txt_xxl2 {
  font-size: 3.4rem;
  line-height: 4.6rem;
  @include pc {
    font-size: 5rem;
    line-height: 6.8rem;
  }
}

.u-txt_xxl3 {
  font-size: 6rem;
  line-height: 1;
}
