.l-contact {
  padding: 5rem 1.5rem;
  &__txt {
    margin-top: 4rem;
    @include pc {
      margin-top: 5rem;
    }
  }
}

.hs-form {
  margin-top: 4rem;
  padding: 3.3rem 2.4rem 4.8rem;
  @include pc {
    width: 99rem;
    margin: 5rem auto 0;
    padding: 7rem;
  }
  background: $gr_f8;
}

.form-columns-1,
.form-columns-2 {
  margin-top: 18px !important;
  @include pc {
    max-width: none !important;
  }
  .hs-form-field {
    @include pc {
      display: flex;
      flex-wrap: wrap;
    }
  }
  label {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    @include pc {
      width: 200px;
      flex-shrink: 0;
    }
    &:before {
      content: "必須";
      background: $color_2;
      line-height: 1;
      font-size: 12px;
      color: $white;
      display: inline-block;
      padding: 4px 6px;
      margin-right: 8px;
    }
  }
  .hs-form-required {
    opacity: 0;
  }
  div.input {
    margin-right: 0 !important;
    @include pc {
      width: 100% !important;
    }
    input,
    textarea {
      margin-top: 5px;
      width: 100% !important;
      border: 0.1rem solid $gr_88;
      border-radius: 0.5rem;
      padding: 8px 8px;
      @include placeholder($gr_9b);
      font-size: 16px;
      background: $white;
    }
  }
  .hs-error-msgs {
    width: 100%;
    label {
      width: 100% !important;
      color: $red;
      &:before {
        content: "!";
        background: $red;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        border-radius: 9999px;
        line-height: 1;
        font-size: 12px;
        color: $white;
        display: inline-block;
        margin-right: 8px;
        padding-left: 8px;
      }
    }
  }
}

.form-columns-2 {
  @include sp {
    display: flex;
    justify-content: space-between;
  }
  @include pc {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  > .hs-form-field {
    width: calc(50% - 6px) !important;
  }
  // .hs_lastname {
  //   label {
  //     color: $white;
  //     &:after {
  //       content: "お名前";
  //       color: $black;
  //       transform: translateX(-24px);
  //     }
  //   }
  // }
  // .hs_firstname {
  //   label {
  //     opacity: 0;
  //     @include pc {
  //       display: none;
  //     }
  //   }
  // }
}

.actions {
  input {
    display: block;
    height: 52px;

    width: 100%;
    margin: 0 auto;
    background: $color_2;
    margin-top: 3.5rem;
    color: $white;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s all;
    @include pc {
      width: 400px;
      margin-top: 5.5rem;
    }
    &:hover {
      opacity: 0.5¥6;
    }
  }
}

label.hs-main-font-element {
  color: $red;
  display: block;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}

.hbspt-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .submitted-message {
  }
}
