%l-footer {
  height: 55.2rem;
  background: url(../img/bg/footer_bg_sp_b.png) no-repeat bottom center/100% 100%;

  padding: 9.7rem 4.5rem 0;
  @include pc {
    padding: 11.4rem 5rem 0;
    height: 48.7rem;
    background: $color_3;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 126.7rem;
      height: 10.2rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 10.6rem;
      background: url(../img/bg/footer_ill.png) no-repeat center bottom / contain;
    }
  }
}
.l-footer {
  @extend %l-footer;
  background: $color_3 url(../img/bg/footer_bg_sp_w.png) no-repeat bottom center/100% 100%;
  @include pc {
    background-image: url(../img/bg/footer_bg_pc.png);
    overflow: hidden;
  }
  &--top {
    @extend %l-footer;
    overflow: hidden;
    // Phase1
    // @include pc {
    //   background: $white;
    // }
    //
  }
  &--orange {
    @extend %l-footer;
    background: $orange url(../img/bg/footer_bg_sp_w.png) no-repeat bottom center/100% 100%;
    @include pc {
      background-image: url(../img/bg/footer_bg_pc.png);
      overflow: hidden;
    }
  }
  &__logo {
    margin-top: 5rem;
    @include pc {
      margin-top: 5.7rem;
    }
  }
  &__desc {
    margin-top: 0.5rem;
  }
  &__data {
    margin-top: 14rem;

    @include pc {
      margin-top: 17rem;
      display: flex;
      justify-content: space-between;
    }
  }
  &__link {
    @include a_tag($black, $black);
    margin-right: 4rem;
    &--last {
      @include a_tag($black, $black);
      margin-right: auto;
    }
  }
  &__copy {
  }
}

.c-footerLink {
  display: flex;
  @include sp {
    //phase1
    //height: 10rem;
    height: 6rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }
  @include pc {
    justify-content: center;
  }
  &__item {
    &:not(:first-child) {
      @include pc {
        margin-left: 7.4rem;
      }
    }
  }
  &__link {
  }
}

.c-foonterLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    &:not(:first-child) {
      margin-left: 3.5rem;
    }
  }
  &__link {
    &--belong {
      display: block;
      width: 8.5rem;
    }
    &--itochu {
      display: block;
      width: 8rem;
    }
  }
  &__img {
    width: 100%;
  }
}
