.l-spMenu {
  @include pc {
    display: none;
  }
  width: 29.7rem;
  height: 100vh;
  position: fixed;
  background: $white;
  z-index: 990;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.2s all;
  //jsMenu
  &._open {
    transform: none;
  }
  &__ttl {
    height: 6.3rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  &__list {
  }
  &__conv {
    padding: 0 2rem;
  }
}

.c-spMenuListMain {
  &__item {
    height: 12rem;
  }
}

.c-spMenuListSub {
  &__item {
    height: 8rem;
    &:not(:first-child) {
      background: linear-gradient($gr_d1, $gr_d1) no-repeat center top / calc(100% - 4rem) 1px;
    }
  }
}
%l-spMenuLink {
  display: block;
  padding: 0 0 0 9.6rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 2rem;
    width: 0.8rem;
    height: 0.8rem;
    border-top: 0.1rem solid $black;
    border-right: 0.1rem solid $black;
    transform: translateY(-0.1rem) rotate(45deg);
  }
}
.l-spMenuLink {
  @extend %l-spMenuLink;
  &--lease {
    @extend %l-spMenuLink;
    background: $color_3 url(../img/ico/ico-lease.png) no-repeat left 3.3rem center/3.5rem auto;
  }
  &--sale {
    @extend %l-spMenuLink;
    background: $baige url(../img/ico/ico-buy.png) no-repeat left 2rem center/6.2rem auto;
  }
  &--buy {
    @extend %l-spMenuLink;
    background: $orange url(../img/ico/ico-sell.png) no-repeat left 2rem center/6.4rem auto;
  }
  &--content {
    @extend %l-spMenuLink;
    background: url(../img/ico/ico-content.png) no-repeat left 3.2rem center/3.7rem auto;
  }
  &--company {
    @extend %l-spMenuLink;
    background: url(../img/ico/ico-company.png) no-repeat left 3.8rem center/3rem auto;
  }
  &__img {
    width: 16rem;
    &--pt2 {
      width: 16rem;
      margin-top: 0.6rem;
    }
  }
  &__txt {
    line-height: 1;
    &--i {
      line-height: 1;
      color: $color_2;
    }
  }
}

.c-spMenuConv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.4rem;
  border-radius: 9999px;
  background: $black;
  @include a_tag($white, $white);
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 1.4rem;
    height: 1.1rem;
    position: absolute;
    right: 1.2rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: url(../img/ico/arr-whitesm.png) no-repeat center center/contain;
  }
}

%l-spMenuTriger {
  &__line {
    width: 100%;
    height: 0.1rem;
    position: absolute;
    left: 0;
    background: $black;
    transition: 0.2s all;
  }
}

.l-spMenuTriger {
  @include pc {
    display: none;
  }
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 999;
  top: 1.2rem;
  right: 1.2rem;

  &__inner {
    width: 2.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  &__line {
    &--1 {
      @extend %l-spMenuTriger__line;
      top: 0;
      //jsMenu
      &._open {
        transform: translateY(0.68rem) rotate(45deg);
      }
    }
    &--2 {
      @extend %l-spMenuTriger__line;
      top: 0;
      bottom: 0;
      margin: auto 0;
      //jsMenu
      &._open {
        transform: translateX(100%);
        opacity: 0;
      }
    }
    &--3 {
      @extend %l-spMenuTriger__line;
      bottom: 0;
      //jsMenu
      &._open {
        transform: translateY(-0.68rem) rotate(-45deg);
      }
    }
  }
}

.l-spMenuOverLay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba($black, 0.6);
  z-index: 980;
  transition: 0.2s all;
  //jsMenu
  &._open {
    opacity: 1;
  }
}
