.align-wide{
    margin-top: 95px;
    text-align: center;
}
.align-wide p{
    font: normal normal bold 16px/34px YuGothic;
letter-spacing: 0px;
color: #000000;
}
.blue-button{
    display: block;
    font: normal normal bold 15px/26px YuGothic;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #4CACCF 0% 0% no-repeat padding-box;
    border-radius: 35px;
    width: 360px;
    height: 68px;
    padding-top: 20px;
    margin-top: 60px;
    position: relative;
}
.not-found{
    margin-bottom:40px
}
.img404{
    display: block;
    margin-bottom:30px;
}
.man-bowing{
    margin-top:50px;
}
.blue-button i{
    position: absolute;
    right: 25px;
    top: 25px;
}
@media only screen and (max-width: 480px) {
    .img404{
        width: 66px;
        height: 30px;
    }
    .not-found{
        width: 300px !important;
    }
    .man-bowing{
        width: 119px;
        height: 119px;
    }
}