.content-blog, .sidebar{
    margin-top: 0;
}
.content-blog{
    padding-top: 50px;
}
.content-blog h1{
    font: normal normal bold 26px/30px YuGothic;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 45px;
}
.content-blog img{
    width: 100%;
    margin-bottom: 15px;
}
span.date{
    letter-spacing: 0px;
    color: #707070;
    font-family: Yu Gothic;
    font-size: 12px;
    margin-bottom: 30px;
    display: block;
}
span.category{
    background: #4CACCF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    font: normal normal bold 14px/30px YuGothic;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 53px;
    height: 14px;
    padding: 6px 12px;
}
.content-blog p{
    text-align: left;
    font: normal normal  16px/32px YuGothic;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 500;
    margin-top: 20px;
}
.content-lightblue-button{
    margin-top: 50px;
    margin-bottom: 40px;
}
.left-border-button{
    text-align: left;
    font: normal normal bold 20px/30px YuGothic;
    letter-spacing: 0px;
    color: #000000;
    background: #F4F6F7 0% 0% no-repeat padding-box;
    padding: 15px 30px;
    border-left: 8px solid #4caccf;
}
.border-top-button{
    text-align: left;
    font: normal normal bold 20px/30px YuGothic;
    letter-spacing: 0px;
    color: #000000;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding: 18px 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
p a.yellow-underline{
    text-decoration: none;
}
p a.yellow-underline:hover{
    color: #000000;
}
.related-button{
    font: normal normal bold 20px/30px YuGothic !important;
    letter-spacing: 0px !important;
    color: #000000 !important;
}
.flex-blog{
    border-bottom: unset;
}
.content-blog .flex-blog .blog-img{
    height: 114px;
}
.content-blog .flex-blog .blog-img img{
    width: 160px;
    height: 114px;
}
.content-blog .flex-blog .blog-desc .desc-heading{
    margin-top: 0;
    margin-bottom: 0;
}
.content-blog .flex-blog .blog-desc .description{
    margin-top: 10px !important;
}
.content-blog .flex-blog .blog-desc span{
    bottom: 12px;
}
.prev-button a{
    letter-spacing: 0px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    font-family: Yu Gothic;
}
.prev-button img{
    width: 100px;
    height: 71px;
    margin-top: 10px;
}
.prev-button i{
    margin-right: 10px;
}
.prev-button img{
    margin-right: 20px;
}
@media only screen and (max-width: 480px) {
    .content-blog {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .row{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .prev-button{
        display: flex;
    }
    .prev-button img {
        width: 100px !important;
        height: 71px !important;
    }
    .prev-button a{
        margin-top: 25px;
    }
    .prev-button i {
        margin-top: 35px;
    }
    .content-blog .flex-blog .blog-img img {
        width: 130px !important;
        height: 92px !important;
    }
    .content-blog .flex-blog .blog-desc span {
        bottom: 20px;
    }
    .flex-blog {
        padding-bottom: 0;
    }
    .content-blog p.description {
        margin-top: 0;
        font-size: 14px;
        line-height: normal;
    }
}