@font-face {
    font-family: 'Yu Gothic Medium';
    src: url(fonts/Yu Gothic Medium.otf);
    font-style: normal;
    font-weight: 400;
}

* {
    font-family: 'Yu Gothic Medium';
}

/* -----scrollbar--------- */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
  }
  ::-webkit-scrollbar-thumb {
    background: #4CACCF; 
    border-radius: 10px;
  }
  /* --------------------- */

   .container {
    max-width: 1200px;
}

.flex-box {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bg-light-blue {
    background: #E7F5FA 0% 0% no-repeat padding-box;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: antiquewhite;
}

footer .top-gray-line {
    border-top: 1px solid #888888;
}
.logo {
    float: left;
    width: auto;
    height: 40px;
    margin-top: 10px;
    z-index: 1;
}

.btn-light-blue {
    background: #4CACCF;
    color: #FFFFFF;
}

.btn-light-blue:hover {
    background: #FFFFFF;
    border: 1px solid #4CACCF;
    color: #4CACCF;
}

a.btn.btn-contact-us {
    border-radius: 37px;
    float: right;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    width: 280px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 900;
    z-index: 1;
}

#lp-content {
    padding-top: 23px;
    z-index: 0;
    margin-bottom: 200px;
}




















/*-------- tablet --------*/
@media screen and (max-width: 768px) {
    
}

/*-------- mobile --------*/
@media screen and (max-width: 480px) {
    .desktop-display {
        display: block;
    }
    .mobile-display {
        display: none;
    }
}








