.circle-bg {
  width: 418px;
  height: 418px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
  padding: 21px 55px;
  margin-right: 70px;
  text-align: center;
  padding-top: 50px;
}
.circle-bg img {
  width: 156px;
  height: 316px;
}
.phone-description {
  width: 100%;
}
.capacity-phone {
  display: flex;
  margin-left: 160px;
  margin-top: 50px;
}
.capacity-phone .storage p,
.price-phone .price p {
  font-family: DIN;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
}
.capacity-phone .storage {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 35px;
  width: 120px;
  height: 36px;
  padding-top: 5px;
  margin-right: 20px;
  text-align: center;
}
.price-phone {
  display: flex;
  background: #f5fcff 0% 0% no-repeat padding-box;
  width: 575px;
  height: 60px;
  margin-top: 15px;
}
.price-phone .price {
  width: 143px;
  text-align: center;
  padding-top: 15px;
}
.agency1 {
  display: flex;
  height: 60px;
}
.agency1 .agency p {
  font: normal normal bold 14px/50px YuGothic;
  letter-spacing: 0px;
  color: #000000;
}
.agency1 .agency {
  margin-right: 145px;
  width: 143px;
  text-align: center;
  padding-top: 5px;
}
.agency1.white-bg {
  background: #f5fcff 0% 0% no-repeat padding-box;
  width: 575px;
  height: 60px;
}
.notes {
  width: 582px;
  margin-top: 30px;
  letter-spacing: 0px;
  color: #707070;
  font-family: Yu Gothic;
  font-size: 12px;
  font-weight: 500;
}
.white-bg-subpage {
  width: 980px;
  height: 324px;
  margin-top: 70px;
  padding-top: 40px;
}
.white-bg-subpage p.heading {
  text-align: center;
  font: normal normal bold 20px/33px YuGothic;
  letter-spacing: 0px;
  color: #000000;
}
.white-bg-subpage p.sub-heading {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  font-family: Yu Gothic;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.recommend-images {
  text-align: center;
}
.recommend-images img {
  margin-right: 110px;
  width: 84px;
  height: 84px;
  margin-top: 30px;
}
.recommend-images img.third-img {
  margin-right: 0;
}
.recommend-desc {
  display: flex;
  margin-left: 117px;
}
.recommend-desc p {
  text-align: center;
  letter-spacing: 0px;
  color: #000000;

  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 45px;
  margin-left: 45px;
  width: 98px;
}
.recommend-desc p.w-140 {
  width: 140px;
}
.phone-model {
  font-size: 28px;
}
.align-wide-2 {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.hr {
  border-bottom: 1px solid #000000;
}
.hr.first {
  margin-top: 120px;
}
.model-overview .row-over-view {
  display: flex;
}
.model-overview .row-over-view p.heading,
.model-overview p.heading {
  text-align: left;
  font: normal normal bold 20px/33px YuGothic;
  letter-spacing: 0px;
  color: #000000;
  margin-right: 80px;
}
.model-overview {
  margin-top: 60px;
  margin-bottom: 60px;
}
.model-overview .row-over-view p.payment {
  text-align: left;
  font: normal normal bold 14px/50px YuGothic;
  letter-spacing: 0px;
  color: #000000;
  line-height: 2;
  margin-right: 80px;
  width: 112px;
}
.model-overview .row-over-view p.border-radius {
  width: 52px;
  height: 24px;
  border: 1px solid #707070;
  border-radius: 20px;
  text-align: center;
  color: #000000;
  font-family: Yu Gothic;
  font-size: 14px;
  font-weight: 500;
  margin-right: 50px;
}
.model-overview .row-over-view p.model-des {
  letter-spacing: 0px;
  color: #000000;
  font-family: Yu Gothic;
  font-size: 14px;
  font-weight: 500;
}
.row-over-view.second {
  margin-left: 180px;
}
.row-spcification {
  display: flex;
}
.row-spcification p.desc {
  letter-spacing: 0px;
  color: #000000;
  font-family: Yu Gothic;
  font-size: 14px;
  font-weight: 500;
}
.row-spcification p.desc.first,
.row-spcification p.desc.third {
  margin-right: 20px;
}
.row-spcification p.desc.second {
  margin-right: 70px;
}
.model-overview .row-spcification p.heading {
  margin-right: 140px;
}
.return-button {
  text-align: center;
  margin-top: 60px;
}
.return-button a i {
  margin-right: 15px;
}
.return-button a {
  font: normal normal bold 14px/24px YuGothic;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .phone-content {
    display: block;
  }
  .circle-bg {
    width: 100%;
    height: 317px;
    padding-top: 40px;
  }
  .circle-bg img {
    height: 240px;
    width: 118px !important;
  }
  .notes {
    width: 100% !important;
  }
  .white-bg-subpage {
    width: 100%;
    height: 455px;
  }
  .recommend-images img {
    height: 84px;
    margin-top: 20px;
    width: 84px !important;
    margin-right: 20px;
  }
  .recommend-images img.third-img {
    margin-right: 20px;
  }
  .recommend-images p {
    text-align: start;
    color: #000000;

    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
  }
  .align-wide-2 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .model-overview .row-over-view p.payment {
    width: 142px;
    margin-right: 20px;
    padding-top: 30px;
  }
  .model-desc {
    width: 140px;
  }
  .hr.first {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .model-overview .row-over-view p.border-radius {
    margin-top: 30px;
  }
  .row-spcification p.desc.first {
    margin-right: 60px;
  }
}
