.capacity-phone .storage{
    width: 200px;
    height: 36px;
}
.capacity-phone .storage{
    margin-right: 15px;
}
.price-phone .price{
    width: 205px;
}
.price-phone .price.first{
    width: 157px;
}