.c-leaseTtl {
  &__en {
  }
  &__jp {
    margin-top: 2rem;
    @include pc {
      margin-top: 3rem;
    }
  }
}

.p-listFeature {
  @include pc {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-top: 3rem;
    @include sp {
      &:not(:first-child) {
        margin-top: 5rem;
      }
    }
  }
}

.c-cardFeature {
  position: relative;
  padding-top: 1px;
  height: 46rem;
  background: $white;
  border-radius: 9999px 9999px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include pc {
    width: 33.4rem;
  }
  &__num {
    color: $color_2;
    margin-top: -3rem;
    position: relative;
  }
  &__img {
    display: block;
    width: 20rem;
    height: 14.4rem;
    margin: 3.4rem auto 0;
  }
  &__ttl {
    margin: 4rem auto 0;
    color: $color_2;
  }
  &__txt {
    width: 28.5rem;
    margin: 2.8rem auto 0;
  }
}

.l-leaseRead {
  background: $color_3;
  padding: 12.2rem 0 6.4rem;
  @include pc {
    padding: 15.2rem 0 14.5rem;
  }
}

.l-leaseFeatures {
  background: $color_2;
  background: linear-gradient(to bottom, $color_3 0, $color_3 1.4rem, $color_4 1.4rem, $color_4 100%);

  &__list {
    margin-top: 4rem;
    @include pc {
      margin-top: 5.5rem;
    }
  }
}

.l-leaseLineup {
  padding: 4.2rem 0 5.7rem;
  @include pc {
    padding: 11.4rem 0 12rem;
  }
  &__list {
    margin-top: 3rem;
    @include pc {
      margin-top: 6rem;
    }
  }
}
