.l-header {
}

.c-headerLogo {
  img {
  }
}
.c-headerContact {
}

//aaa

.c-ttl {
  position: relative;
  z-index: 2;
  &__ja {
  }
  &__en {
    color: $color_3;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    white-space: nowrap;
    transform: translateX(-50%);
  }
  &__line {
  }
}

.l-footer {
  &__logo {
  }
  &__link {
  }
  &__copy {
  }
}

.c-footerLink {
  &__item {
  }
  &__link {
  }
}
