.l-recom {
  &__ttl {
  }
  &__balloon {
  }
  &__txt {
  }
}

.c-recomBalloon {
  &__1 {
    background: url(../img/lp/balloon_1.png) no-repeat center center/contain;
  }
  &__2 {
    background: url(../img/lp/balloon_2.png) no-repeat center center/contain;
  }
  &__3 {
    background: url(../img/lp/balloon_3.png) no-repeat center center/contain;
  }
  &__4 {
    background: url(../img/lp/balloon_4.png) no-repeat center center/contain;
  }
  &__ill {
  }
  &__man {
  }
  &__woman {
  }
}
