.c-topKv {
  background: url(../../assets/images/top_ill_sp.svg) no-repeat center top/auto 100%;
  height: 57.5rem;
  padding-top: 7.4rem;
  @include pc {
    background-image: url(../../assets/images/top_ill_pc.svg);
    height: 55.2rem;
  }
  @include mq_min(1180) {
    padding-top: 6.2vw;
    height: 40.333vw;
  }
  &__ttl {
    @include mq_min(1180) {
      font-size: 2.7vw;
    }
  }
  &__txt {
    margin-top: 3.2rem;

    @include mq_min(1180) {
      margin-top: 2.2vw;
      font-size: 1.2vw;
      line-height: 2;
    }
  }
}
