//use c-planGen from gen

.l-topSalePlan {
  //height: 87rem;
  flex: 0 0 87rem;
  // background: #0f0;
  //phase1
  //padding-top: 5rem;
  padding-top: 9.2rem;
  @include pc {
    // height: 84rem;
    flex: 0 0 84rem;

    //phase1
    //padding-top: 16.2rem;
    padding-top: 18.2rem;
  }
}
